body, html {
  height: 100%;
}

body {
 text-align: center;

 color: darkgreen;
 font-family:Ariel;
 font-size:130%;
 
 
 
}

.green {
	color: green;
	font-weight: bold;
	font-size:120%;
		}

.TXT {
font-size:80%;
 text-align: left;
}
.TXT2 {
	color:#E05F3A     ;
font-size:130%;
 font-weight: bold;
}


.contact {
font-size:10%;
 text-align: center;
 color: #3EA5C2;
 line-height: 1.3;
}


table th{
    font-size:25px;
}


.bg {
   background-image: url("Pitch7.PNG");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.column {
  float: left;
  width: 30%;
  padding: 4px;
}

	

.row::after {
  content: "";
  clear: both;
  display: table;
}

.nav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #630B29;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #B32354;
  color: #630B29;
}
}
